.App {
  max-width: 800px;
  margin: 0 auto;
}

.AppNav {
  margin: 15px;
  padding: 15px;
  border-bottom: 3px solid #007700;
}

.AppNav ul {
  padding: 0;
  margin: 0;
}

.AppNavItem {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  font-size: 20px;
  border-bottom: 3px solid transparent;
}

.AppContent {
  margin: 0 30px;
}

.AppNavItem a {
  cursor: pointer;
}

.AppNavItem a:hover {
  color: #999;
}

.AppNavItem.selected {
  border-bottom-color: gold;
}
